/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set font family and basic styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cbc3b4;
}
.flex-container {
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}


header {
    background-color: #cbc3b4;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 10px;
    font-family: palatino;
    font-size: 5em;
    font-weight: lighter;
    background-image: linear-gradient(to right, #5B7C99, #24323d, #52708a);
}

button {
    background-color: #37474f ;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: center;
    width: 20% ;
    border-radius: 5px;
   
 
 }

 div { text-align: center;}
 
.search-container {
    margin-bottom: 20px;
    text-align: center;
}

#searchQuery {
    padding: 10px;
    width: 75px;
    margin-right: 10px;
    float: center;
    width: 40%;
    border-radius: 5px;
}


#results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


a { color: #5B7C99;}

.recipe {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe img {
    max-width: 100%;
    height: auto;
}

.recipe h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.recipe p {
    margin-bottom: 10px;
    color: #666;
}
